<?xml version="1.0" encoding="x-windows-949"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.ac.uk/kcl/inf/cw/edu/EduLangauage"
			class = "uk.ac.kcl.inf.cw.edu.eduLangauage.EduLangauagePackage"
			genModel = "model/generated/EduLangauage.genmodel" />
	</extension>
</plugin>
